{% extends 'base.html.twig' %}

{% block title %}expens-o-matic Expenses{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
  {{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="/js/delete-expense.js"></script>
  <script>
    $('.js-datepicker').datepicker({
      format: 'dd/mm/yyyy'
    });
  </script>
{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-xl-3 jumbotron p-4">
      {{ form_start(expenseForm) }}
      <legend>New expense</legend>
      <div class="form-group">
        {{ form_row(expenseForm.name) }}
      </div>
      <div class="form-group">
        {{ form_row(expenseForm.description) }}
      </div>
      <div class="form-group">
        {{ form_label(expenseForm.amount) }}
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">&euro;</span>
          </div>
          {% if expenseForm.amount.vars.errors|length > 0 %}
            {{ form_widget(expenseForm.amount, {'attr': {'class': 'form-control is-invalid'}}) }}
          {% else %}
            {{ form_widget(expenseForm.amount) }}
          {% endif %}
        </div>
      </div>
      <div class="form-group">
        {{ form_row(expenseForm.date) }}
      </div>
      {#
      <div class="form-group">
        {{ form_label(expenseForm.expenseItems) }}
        {{ form_widget(expenseForm.expenseItems) }}
        <small id="expense_form_expenseItems_help" class="form-text text-muted">{{ form_help(expenseForm.expenseItems) }}</small>
      </div>
      #}
      {{ form_row(expenseForm.submit) }}
      {{ form_end(expenseForm) }}
    </div>

    <div class="col-xl-9 container-fluid p-3">

      {% if expenses is empty %}
        <div class="alert alert-secondary">
          <p class="mb-0">You have no expenses yet. Time to make some ;)</p>
        </div>
      {% else %}
        <div class="list-group">
          {% for expense in expenses %}
            <a href="/expense/{{ expense.id }}" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ expense.name }}</h5>
                <small>€ {{ expense.amount | number_format(2) }}</small>
              </div>
              <p class="mb-1">{{ expense.date | date("Y-m-d") }}</p>
              {% if expense.reimbursed == 1 %}
                <span class="badge badge-success">Paid</span>
              {% else %}
                {% if expense.approved is empty %}
                  <span class="badge badge-info">Pending</span>
                {% elseif expense.approved == 1 %}
                  <span class="badge badge-success">Approved</span>
                {% else %}
                  <span class="badge badge-danger">Rejected</span>
                {% endif %}
              {% endif %}
            </a>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}