{% extends 'base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
{% endblock %}

{% block javascripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" crossorigin="anonymous"></script>
  <script src="/js/main.js"></script>
  <script>
    $('.js-datepicker').datepicker({
      format: 'dd/mm/yyyy'
    });
  </script>
{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-xl-3 jumbotron p-4">
      {{ form_start(expenseForm) }}
      <legend>New expense</legend>
      <div class="form-group">
        {{ form_row(expenseForm.name) }}
      </div>
      <div class="form-group">
        {{ form_row(expenseForm.description) }}
      </div>
      <div class="form-group">
        {{ form_label(expenseForm.amount) }}
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">&euro;</span>
          </div>
          {% if expenseForm.amount.vars.errors|length > 0 %}
            {{ form_widget(expenseForm.amount, {'attr': {'class': 'form-control is-invalid'}}) }}
          {% else %}
            {{ form_widget(expenseForm.amount) }}
          {% endif %}
        </div>
      </div>
      <div class="form-group">
        {{ form_row(expenseForm.date) }}
      </div>
      {#
      <div class="form-group">
        {{ form_label(expenseForm.expenseItems) }}
        {{ form_widget(expenseForm.expenseItems) }}
        <small id="expense_form_expenseItems_help" class="form-text text-muted">{{ form_help(expenseForm.expenseItems) }}</small>
      </div>
      #}
      {{ form_row(expenseForm.submit) }}
      {{ form_end(expenseForm) }}
    </div>

    <div class="col-xl-9 container-fluid p-3">
      <h2>My Expenses</h2>
      {% if expenses is empty %}
        <div class="alert alert-secondary">
          <p class="mb-0">You have no expenses yet. Time to make some ;)</p>
        </div>
      {% else %}
        <div class="table-responsive">
          <table id="expenses" class="table">
            <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Amount</th>
              <th scope="col">Status</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for expense in expenses %}
              <tr>
                <th scope="row">{{ expense.date|date("Y-m-d")}}</th>
                <td>{{expense.name}}</td>
                <td>{{expense.description}}</td>
                <td>{{expense.amount}}</td>
                {% if expense.reimbursed == 1 %}
                  <td><span class="badge badge-success">Paid</span></td>
                {% else %}
                  {% if expense.approved is empty %}
                    <td><span class="badge badge-info">Pending</span></td>
                  {% elseif expense.approved == 1 %}
                    <td><span class="badge badge-success">Approved</span></td>
                  {% else %}
                    <td><span class="badge badge-danger">Rejected</span></td>
                  {% endif %}
                {% endif %}
                <td>
                  <a class="btn btn-info btn-sm" href="/expense/{{ expense.id }}" role="button">Show</a>
                  {% if expense.approved == 1 %}
                    <a class="btn btn-primary disabled btn-sm" href="#" role="button">Delete</a>
                  {% else %}
                    <a class="btn btn-primary btn-sm delete-expense" href="#" data-id="{{ expense.id }}" role="button">Delete</a>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}