{% extends 'base.html.twig' %}

{% block title %}expens-o-matic {{ expense.name }}{% endblock %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="/js/delete-expense.js"></script>
  <script>
    $('.js-datepicker').datepicker({
      format: 'dd/mm/yyyy'
    });
  </script>
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-xl-8 container-fluid p-3">
    {% if expense is empty %}
    <div class="alert alert-primary">
      <h4 class="alert-heading">Oops!</h4>
      <p class="mb-0">This is awkward, your expense wasn&#39;t found!</p>
    </div>
    {% else %}

    <div id="expenses" class="jumbotron p-4">
      <legend>My Expense</legend>
      <div class="form-group">
        <label class="font-weight-bold">Name</label>
        <p>{{ expense.name }}</p>
      </div>
      <div class="form-group">
        <label class="font-weight-bold">Description</label>
        <p>{{ expense.description }}</p>
      </div>
      <div class="form-group">
        <label class="font-weight-bold">Amount</label>
        <p>&euro; {{ expense.amount | number_format(2) }}</p>
      </div>
      <div class="form-group">
        <label class="font-weight-bold">Date</label>
        <p>{{ expense.date | date("d/m/Y") }}</p>
      </div>
      <div class="form-group">
        <a class="btn btn-info btn-lg" href="/" role="button">Back</a>
        {% if (expense.approved is null) and (expense.reimbursed == 0) %}
        <a class="btn btn-secondary btn-lg" href="/expense/{{ expense.id }}/edit" role="button">Edit</a>
        <a class="btn btn-primary btn-lg delete-expense" data-id="{{ expense.id }}" href="#" role="button">Delete</a>
        {% elseif (expense.approved == 0) and (expense.reimbursed == 0) %}
        <a class="btn btn-primary btn-lg delete-expense" data-id="{{ expense.id }}" href="#" role="button">Delete</a>
        {% endif %}
      </div>
    </div>

    {% endif %}
  </div>
</div>

{% endblock %}