{% extends 'base.html.twig' %}

{% block title %}expens-o-matic Admin/Users{% endblock %}

{% block body %}

<div class="container-fluid p-4">

  <h2>Users</h2>

  <div class="modal fade" id="adduserModal" tabindex="-1" role="dialog" aria-labelledby="adduserModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content p-4">
        <div class="modal-header">
          <h5 class="modal-title">Add User</h5>
        </div>
        {{ form_start(userForm) }}
        <div class="modal-body">
          <div class="form-group">
            {{ form_label(userForm.name) }}
            {{ form_errors(userForm.name) }}
            {{ form_widget(userForm.name) }}
          </div>
          <div class="form-group">
            {{ form_label(userForm.surname) }}
            {{ form_errors(userForm.surname) }}
            {{ form_widget(userForm.surname) }}
          </div>
          <div class="form-group">
            {{ form_label(userForm.email) }}
            {{ form_errors(userForm.email) }}
            {{ form_widget(userForm.email) }}
          </div>
          <div class="form-group">
            {{ form_label(userForm.password) }}
            {{ form_errors(userForm.password) }}
            {{ form_widget(userForm.password) }}
          </div>
          <div class="form-group">
            {{ form_label(userForm.roles) }}
            {{ form_widget(userForm.roles) }}
          </div>
        </div>
        <div class="modal-footer">
          <div class="form-group">
            {{ form_label(userForm.submit) }}
            {{ form_widget(userForm.submit) }}
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
        {{ form_end(userForm) }}
      </div>
    </div>
  </div>

  <div class="btn-group btn-group-toggle mt-4 mb-4">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#adduserModal">Add User</button>
  </div>

  {% if users is empty %}
    <div class="alert alert-secondary">
      <p class="mb-0">There are no users. How weird :/</p>
    </div>
  {% else %}

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">User</th>
          <th scope="col">Email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td class="flex-column align-items-start">
            <div class="d-flex">
              <a href="#">{{ user.surname }} {{ user.name }}</a>
            </div>
            <div class="d-flex">
              <small class="mb-1">
                {% if 'ROLE_ADMIN' in user.roles %}
                  Admin
                {% elseif 'ROLE_APPROVER' in user.roles %}
                  Approver
                {% elseif 'ROLE_USER' in user.roles %}
                  User
                {% else %}
                  Unknown
                {% endif %}
              </small>
            </div>
          </td>
          <td class="align-middle">
              {{ user.email }}
          </td>
          <td class="align-middle">
            <a class="btn btn-secondary btn-sm" href="#" role="button">Edit</a>
            <a class="btn btn-secondary btn-sm" href="#" role="button">Lock</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  {% endif %}
</div>

{% endblock %}
