{% extends 'base.html.twig' %}

{% block title %}expens-o-matic Admin/Users{% endblock %}

{% block body %}

  <div class="row">
    <div class="col-xl-8 container-fluid p-3">
      <div class="jumbotron p-4">
        {{ form_start(userForm) }}
        <legend>User Edit</legend>
        <div class="form-group">
          {{ form_label(userForm.name) }}
          {{ form_errors(userForm.name) }}
          {{ form_widget(userForm.name) }}
        </div>
        <div class="form-group">
          {{ form_label(userForm.surname) }}
          {{ form_errors(userForm.surname) }}
          {{ form_widget(userForm.surname) }}
        </div>
        <div class="form-group">
          {{ form_label(userForm.email) }}
          {{ form_errors(userForm.email) }}
          {{ form_widget(userForm.email) }}
        </div>
        <div class="form-group">
          {{ form_label(userForm.password) }}
          {{ form_errors(userForm.password) }}
          {{ form_widget(userForm.password, { 'required': false }) }}
        </div>
        <div class="form-group">
          {{ form_label(userForm.roles) }}
          {{ form_widget(userForm.roles) }}
        </div>
        <div class="form-group">
          {{ form_label(userForm.submit) }}
          {{ form_widget(userForm.submit) }}
        </div>
        {{ form_end(userForm) }}
      </div>
    </div>
  </div>
</div>

{% endblock %}
